Problem statement : to find the prob of survival of females (titanic survival prediction)

In [18]:
import pandas as pd

In [20]:
df=pd.read_csv('titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [24]:
inputs=df.drop('Survived',axis='columns')
target=df.Survived

In [26]:
# TO MAKE SEX COLUMN SEPERATE

In [28]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head()

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

In [30]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age  female   male
0       3    male  22.0   False   True
1       1  female  38.0    True  False
2       3  female  26.0    True  False
3       1  female  35.0    True  False
4       3    male  35.0   False   True

In [32]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs                                           # becoz we need only the prob of survival of females

     Pclass   Age  female
0         3  22.0   False
1         1  38.0    True
2         3  26.0    True
3         1  35.0    True
4         3  35.0   False
..      ...   ...     ...
886       2  27.0   False
887       1  19.0    True
888       3   NaN    True
889       1  26.0   False
890       3  32.0   False

[891 rows x 3 columns]

In [36]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [38]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [42]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass        Age  female
0       3  22.000000   False
1       1  38.000000    True
2       3  26.000000    True
3       1  35.000000    True
4       3  35.000000   False
5       3  29.699118   False
6       1  54.000000   False
7       3   2.000000   False
8       3  27.000000    True
9       2  14.000000    True

In [46]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.3)

In [50]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [53]:
model.fit(X_train,y_train)

GaussianNB()

In [55]:
model.score(X_test,y_test)

0.7798507462686567

In [58]:
X_test[:10]

     Pclass        Age  female
832       3  29.699118   False
209       1  40.000000   False
221       2  27.000000   False
567       3  29.000000    True
107       3  29.699118   False
526       2  50.000000    True
780       3  13.000000    True
605       3  36.000000   False
60        3  22.000000   False
551       2  27.000000   False

In [60]:
y_test[:10]

832    0
209    1
221    0
567    0
107    1
526    1
780    1
605    0
60     0
551    0
Name: Survived, dtype: int64

In [62]:
model.predict(X_test[:10])

array([0, 0, 0, 1, 0, 1, 1, 0, 0, 0], dtype=int64)

In [64]:
model.predict_proba(X_test[:10])

array([[0.92021051, 0.07978949],
       [0.62142325, 0.37857675],
       [0.83171632, 0.16828368],
       [0.20239497, 0.79760503],
       [0.92021051, 0.07978949],
       [0.12329133, 0.87670867],
       [0.16217988, 0.83782012],
       [0.92591143, 0.07408857],
       [0.9111777 , 0.0888223 ],
       [0.83171632, 0.16828368]])